.login-on-checkout .form-row label.checkout_form_label {
    display: inline;
    margin: 10px;
}

.login-on-checkout .form-row label.checkout_form_label.disabled {
    display: inline;
    margin: 10px;
    color:darkgrey;
}

.order-summary .subtotal.proceed li:last-child {
    border-top: 1px solid #e6e6e6;
    padding: 0px;
}

.shpcart-subtotal-block.proceed {
    background-color: #fafafa;
    padding: 0px;
    margin: 0px;
}

